{% extends "base.html" %}

{% block title %}ASK{% endblock %}

{% block content %}
    <h4>Ask a question</h4>
    <form method="post">
        {% csrf_token %}
    {% for form in form %}
        <div class="form-group row">
            <label for="{{ form.id_for_label }}" class="col-sm-2 col-form-label">{{ form.label }}</label>
            <div class="col-sm-10">
                {{ form }}
            </div>
        </div>
    {% endfor %}
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-outline-secondary">Ask!</button>
        </div>
    </div>
    </form>
{% endblock %}
